.body{
   overflow: scroll;
}
#databinding{
   padding: 20px 15px 15px 15px;
   margin: 0 0 25px 0;
   width: auto;
 }
 span, option, input {
   font-size:20px;
 }

 .Title{
   display: table-caption;
   text-align: center;
   font-weight: bold;
   font-size: larger;
 }
 .Heading{
   display: table-row;
   font-weight: bold;
   text-align: center;
 }
 .table{
   text-align: center;
 }

.mt-10{
   margin-top: 10px;
}

.mb-30{
   margin-bottom: 30px;
}

input[type=text], input[type=date], select, input[type=search]{
   font-size: 1rem;
   border: 2px thin gray;
   border-radius: 10px;
   padding-left: 2px;
}

input[type=search] {
   float: right;
}
